@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
/* Facebook Button Dark and Light */
.fb-btn {
  border-radius: 2px;
  font-size: 0.9rem;
  padding: 6px 12px;
  margin-bottom: 60px; }
  .fb-btn--dark {
    -moz-box-shadow: inset 0 1px 0 0 #4d73bf;
    -webkit-box-shadow: inset 0 1px 0 0 #4d73bf;
    box-shadow: inset 0 1px 0 0 #4d73bf;
    background: #4267b2;
    border: #4267b2;
    color: white;
    text-shadow: 0 1px 0 #3359a5; }
    .fb-btn--dark:hover {
      background-color: #2b54a7; }
    .fb-btn--dark:active {
      background-color: #1d4698;
      border-color: #1d4698; }
  .fb-btn--light {
    background: #f6f7f9;
    border: 1px solid #ced0d4;
    border-radius: 2px;
    color: #4b4f56;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 6px 12px; }
    .fb-btn--light:hover {
      background: #e9ebee; }
    .fb-btn--light:active {
      background: #d8dade;
      border-color: #d8dade; }

/* 3D Lookin' Buttons Rectangle and Circle */
/* Rectangle Button */
.btn-3d-rectangle {
  font-family: "Poiret One", cursive;
  position: relative;
  background: #F0433A;
  border: none;
  color: white;
  padding: 6px 12px;
  margin-right: 10px;
  margin-bottom: 60px;
  font-size: 1.2rem;
  box-shadow: -6px 6px 0 #820333;
  outline: none; }
  .btn-3d-rectangle:hover {
    background: #e61c11; }
  .btn-3d-rectangle:active {
    background: #e61c11;
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 #820333; }
  .btn-3d-rectangle::before {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    /* Creates little triangles to join the box and box shadow together for the top. */
    border: solid 6px transparent;
    border-right: solid 6px #820333;
    border-left-width: 0;
    top: 0;
    left: -6px; }
  .btn-3d-rectangle:active::before {
    border: solid 3px transparent;
    border-right: solid 3px #820333;
    border-left-width: 0;
    left: -3px; }
  .btn-3d-rectangle::after {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    /* Creates little triangles to join the box and box shadow together for the bottom. */
    border: solid 6px transparent;
    border-top: solid 6px #820333;
    border-bottom-width: 0;
    bottom: -6px;
    right: 0; }
  .btn-3d-rectangle:active::after {
    border: solid 3px transparent;
    border-top: solid 3px #820333;
    border-bottom-width: 0;
    bottom: -3px; }

/* Circle Button */
.btn-3d-circle {
  font-family: "Poiret One", cursive;
  position: relative;
  margin-bottom: 60px;
  background: #18C29C;
  background: -webkit-radial-gradient(#18C29C, #0B877D);
  background: -o-radial-gradient(#18C29C, #0B877D);
  background: -moz-radial-gradient(#18C29C, #0B877D);
  background: radial-gradient(#18C29C, #0B877D);
  font-size: 1rem;
  text-shadow: 0 -1px 0 #c3af07;
  color: white;
  border: solid 1px #096f67;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  z-index: 4;
  outline: none;
  box-shadow: inset 0 1px 0 #0B877D, 0 2px 0 #075851, 0 3px 0 #064a44, 0 4px 0 #053c37, 0 5px 0 #042d2a, 0 7px 0 #031f1d, 0 8px 0 #011110, 0 9px 0 #000303; }
  .btn-3d-circle:hover {
    background: #1ad0a7;
    background: -webkit-radial-gradient(#1ad0a7, #0c958a);
    background: -o-radial-gradient(#1ad0a7, #0c958a);
    background: -moz-radial-gradient(#1ad0a7, #0c958a);
    background: radial-gradient(#1ad0a7, #0c958a); }
  .btn-3d-circle:active {
    background: #1ad0a7;
    background: -webkit-radial-gradient(#1ad0a7, #0c958a);
    background: -o-radial-gradient(#1ad0a7, #0c958a);
    background: -moz-radial-gradient(#1ad0a7, #0c958a);
    background: radial-gradient(#1ad0a7, #0c958a);
    top: 2px;
    box-shadow: inset 0 1px 0 #0B877D, 0 2px 0 #075851, 0 3px 0 #064a44, 0 4px 0 #053c37, 0 5px 0 #042d2a, 0 7px 0 #031f1d; }

/* Grandient Border Button */
.gradient-btn {
  font-family: "Poiret One", cursive;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 60px;
  font-size: 1.2rem;
  box-sizing: border-box;
  background-color: #e7eef1;
  border: solid 5px transparent;
  border-image: linear-gradient(to top right, #36175E, #3DAAED);
  border-image-slice: 1;
  color: #36175E;
  transition: all 0.3s ease-in-out; }
  .gradient-btn:hover {
    background-image: linear-gradient(to top right, #36175E, #3DAAED);
    color: white; }

/* Animated Button */
/* Animated Background */
.bg-animated-btn {
  font-family: "Poiret One", cursive;
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 60px;
  font-size: 1.2rem;
  background-color: #00b3b4;
  background-image: url(pattern.png);
  background-size: 40px 40px;
  border: solid 1px #555;
  color: white;
  transition: all 0.3s ease; }
  .bg-animated-btn:hover {
    animation: background-loop-animation 2s linear infinite; }
@keyframes background-loop-animation {
  from {
    background-position: 0 0; }
  to {
    background-position: 40px 0; } }
/* Padding Animated Background */
.padding-animated-btn {
  font-family: "Poiret One", cursive;
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 60px;
  font-size: 1.2rem;
  background-color: #00b3b4;
  background-size: 40px 40px;
  border: solid 1px #555;
  color: white;
  transition: all 0.3s ease; }
  .padding-animated-btn::after {
    position: absolute;
    top: 19%;
    right: 0.1em;
    content: "»";
    transition: all ease 0.3s;
    opacity: 0; }
  .padding-animated-btn:hover {
    padding: 6px 22px 6px 6px; }
  .padding-animated-btn:hover::after {
    right: 0.2em;
    opacity: 1; }

/* Toggle UI Switch Buttons */
/* Toggle Switch */
.toggle-switch {
  font-family: "Poiret One", cursive;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 0 0;
  margin-bottom: 60px; }
  .toggle-switch__input {
    display: none; }
  .toggle-switch__btn {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #C9283E;
    border: solid 1px #C9283E;
    color: white;
    width: 80px;
    height: 30px;
    transition: all 0.3s ease;
    cursor: pointer; }
  .toggle-switch__btn::before {
    position: absolute;
    top: 2.5px;
    left: 43px;
    content: "Off";
    display: inline-block;
    height: 25px;
    padding: 0 3px;
    background: white;
    color: #C9283E;
    transition: all 0.3s ease; }
  .toggle-switch__input:checked + .toggle-switch__btn {
    background: #247065;
    border: solid 1px #247065; }
  .toggle-switch__input:checked + .toggle-switch__btn::before {
    left: 5px;
    content: "On";
    color: #247065; }

/* Toggle Switch 2 */
.toggle-switch-alt {
  font-family: "Poiret One", cursive;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 0 0;
  margin-bottom: 60px; }
  .toggle-switch-alt__input {
    display: none; }
  .toggle-switch-alt__btn {
    position: relative;
    display: inline-block;
    line-height: 20px;
    text-transform: uppercase;
    background: white;
    color: #aaa;
    border: solid 1px #ccc;
    padding: 5px 10px 5px 30px;
    transition: all 0.3s ease;
    cursor: pointer; }
  .toggle-switch-alt__btn::before {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    content: "";
    transition: all 0.3s ease;
    border-radius: 100%; }
  .toggle-switch-alt__input:checked + .toggle-switch-alt__btn {
    background: #00b3b4;
    border-color: #00b3b4;
    color: white; }
  .toggle-switch-alt__input:checked + .toggle-switch-alt__btn::before {
    background-color: white; }
